/local.properties
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
/.idea/libraries
.DS_Store
.idea/gradle.xml

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/