<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cascadia.bookmarked">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- location permission -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookmarked_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AnalyticsApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBook4SaleActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPostingActivity"
            android:label="@string/title_activity_my_posting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_myprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookWantedActivity"
            android:label="@string/title_activity_book_wanted"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookPictureActivity"
            android:label="@string/title_activity_book_picture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchBookActivity"
            android:label="@string/title_activity_search_book"
            android:theme="@style/AppTheme.NoActionBar"></activity>



        <!-- Google Analytics Version v4 needs this value for easy tracking -->

        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"

        android:resource="@xml/global_tracker1" />


    </application>


</manifest>
